.Navbar {
    display: flex;
    justify-content: center;
    background: rgb(101,100,100);
    background: linear-gradient(0deg, rgba(78,78,78,0.8631827731092436) 10%, rgba(34,34,34,1) 100%);
    color: white;
    font-size: 18px;
    height: 70px;
}

.pokedexLinkDiv {
    position: absolute;
    left: 0;
    margin-left: 5vw;
}

.menu-icon {
    position: absolute;
    right: 0;
    margin-right: 5vw;
}

.sidebar-hide {
    display: none;
}

.sidebar-show {
    position: absolute;
    background: rgba(78,78,78,0.8631827731092436);
    right: 0;
    top: 70px;
    width: 15vw;
    z-index: 1;
}

.filter-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.filter-header, .btn-div {
    margin-left: auto;
    margin-right: auto;
}

.filter-container {
    width: 100%;
}

.filter-item {
    text-align: left;
    margin-left: 20px;
}

.filter-header {
    width: 80%;
    border-bottom: 1px solid white;
}

.submit-btn {
    color: white;
    border: 1px solid white;
}

a {
    color: white;
    text-decoration: none;
}