.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.imgDiv {
  width: 10vw;
  height: 10vh;
}

.pokeImg {
  height: 50%;
}

.pokemonDiv {
  display: flex;
  vertical-align: center;
  text-align: center;
  flex-direction: column;
}