* {
  text-align: center;
}

.mainContainer {
  padding-bottom: 50px;
}

body {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(2,2,253,1) 100%);
}

button {
  padding: 0;
  background: transparent;
  border: none;
  width: 100%;
}

.iconImage {
  width: 100%;
}

.pokeImg {
  transition: filter 1.5s linear, transform .2s linear;
}

button, .pokeImg {
  transition: filter .5s linear, transform .2s linear;
}
button:hover, .pokeImg:hover {
  transform: scale(1.1);
}

.genContainer {
  display: block;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recordContainer {
  display: block;
  width: 125px;
  margin: 10px;
  background-color: burlywood;
  border-radius: 10%;
}

.pokeImg {
  width: 125px;
  height: 125px;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.buttonDiv {
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.recordDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pokemonDiv {
  text-align: center;
  width: 100%;
}