* {
  text-align: center;
}

body {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(2,2,253,1) 100%);
}

.genContainer {
  display: block;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recordContainer {
  display: block;
  min-width: 100px;
  max-width: 8vw;
  min-height: 100px;
  max-height: 20vh;
  padding-bottom: 40px;
  margin: 10px;
  background-color: burlywood;
  border-radius: 10%;
}

img, .pokemonDiv{
  width: 100%;
  height: 100%;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

button {
  padding: 0;
  height: 95%;
  background: transparent;
  border: none;
}

button:hover, .pokeImg:hover {
  transform: scale(1.1);
}

.imgDiv {
  height: 80%;
  width: 100%;
}

.buttonDiv {
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.recordDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pokemonDiv {
  display: flex;
  text-align: center;
  flex-direction: column;
}